<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Stream</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <a href="/" id="symbol">XMeme</a>
        <a href="/" id="">CreateNew</a>
        <a href="/posts" id="">Posts</a>
    </div>
    <div id="upper">
        <div class="centered">
            <div class="head">
                <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;">Meme Stream</h1>
            </div>
            <div>
                <form action="/posts" method="POST">
                    <div>
                        <label class="label" for="name">Meme Owner</label>
                    </div>
                    <div>
                        <input type="text" name="name" id="name" placeholder="Enter your full name" required>
                    </div>
                    <div>
                        <label class="label" for="caption">Caption</label>
                    </div>
                    <div>
                        <input type="text" name="caption" id="caption" placeholder="Be creative with the caption" required>
                    </div>
                    <div>
                        <label class="label" for="url">Meme URL</label>
                    </div>
                    <div id="casing">
                        <input type="text" name="url" id="url" placeholder="Enter the URL of the meme here" required>
                        <button id="submit">Post Meme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>